
@{
    ViewBag.Title = "FlowParameter";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Flow Parameter</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item active">Flow Parameter</li>
            </ol>
        </div>
        <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Line Chart</h4>
                        <div>
                            <canvas id="chart1" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" style="display:none;">
                        <h4 class="card-title">Bar Chart</h4>
                        <div>
                            <canvas id="chart2" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-6" style="display:none;">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Pie Chart</h4>
                        <div>
                            <canvas id="chart3" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Doughnut Chart</h4>
                        <div>
                            <canvas id="chart4" height="150"> </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-6" style="display:none;">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Polar Area Chart</h4>
                        <div>
                            <canvas id="chart5" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-6" style="display:none;">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Radar Chart</h4>
                        <div>
                            <canvas id="chart6" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        @section pagescript
            {
            <!-- Chart JS -->
            <script src="~/Content/assets/plugins/Chart.js/chartjs.init.js"></script>
            <script src="~/Content/assets/plugins/Chart.js/Chart.min.js"></script>
            <!-- ============================================================== -->
        }
