@model ERASManager.Models.ReportInfo
@{
    ViewBag.Title = "GasAccountingRevDashboard";
}

<div class="page-wrapper">
    <h2>@Model.ReportDescription</h2>
    <iframe id="frmReport" src="@Model.ReportURL" frameborder="0" style="@String.Format("width:{0}%; height: {1}px;", Model.Width, Model.Height)" scrolling="yes"></iframe>
</div>

